.container {
    /* background-color:; */
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
}
.square-default {
    width: 100px;
    height: 100px;
    /* background-color: black; */
    flex-shrink: 0;
    text-align: center;
    font-size: 5em;
    /* flex: 1;
    flex-basis: 1; */
}

/* bellow ones were used for reduementry approach, not needed for current one */

.square-red {
    width: 100px;
    height: 100px;
    background-color: red;
    flex-shrink: 0;
    /* flex: 1;
    flex-basis: 1; */
}
.square-blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    flex-shrink: 0;
    /* flex: 1;
    flex-basis: 1; */
}